body {
  color: black;
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: light;
  line-height: 1.2;
}
.container {
  /* width: 1500px; */
  background-image: url("images/white.png");
}
.card-white {
/* background-color: white; */
padding: 40px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
border-radius: 4px;
width: 700px;
margin: 0 auto;
margin-bottom: 30px;
display: block;
text-align: center;
}

#introduction p {
  margin-bottom: 40px;
}

h1 {
  font-family: 'Playfair Display', serif;
}

.img-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.git-hub-info {
  margin: 0 auto;
  text-align: center;
  height: 150px;
  /* background-color: white; */
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 700px;
}

.button-blue {
  padding: 15px 20px;
  border-radius: 4px;
  background-color:#6B72E1;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.button-blue:hover {
  background-color: black;
  color: white;
}

.h3 {
  margin: 30 auto;
  height: 40px;
  text-align: center;
  font-size: 20px;
  color: black;
}

.inline-class > li {
  display: inline;
  padding-right: 10px;
  font-size: 40px;
}

.inline-class {
  text-align:center;
  margin: 0 auto;
  padding-right: 40px;
}

.display-inline {
  display: inline;
}

.contact-info {
  display: inline;
  text-align: center;
  margin: 0 auto;
}
